*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
p{
    font-size: 35px;
    font-weight: 600;
}
form{
    padding: 10px;
}
label{
    font-weight: bold;
    line-height: 2;
}
input,textarea{
    padding: 10px;
    width: 400px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
button{
    line-height: 2;
    width: 400px;
    background-color: rgb(72, 206, 45);
    color: azure;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}