*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
}
.form{
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    background-color: rgb(255, 233, 204);
    border-radius: 10px;
}
.title{
    color: rgb(0, 0, 138);
    padding: 20px;
}
.content{
    font-size: large;
}
.btn{
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #575757;

}
.btn:hover{
    background-color: green;
    color: azure;
}